
<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card text-center">
      <%= image_tag("top.jpeg") %>
      <div class="card-img-overlay">
		<h3 class="card-title">ながのCAKEへようこそ！</h3>
		<p class="card-text">オンラインショップです</p>
	</div>
      
  </div>
</div>
