<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <div class="card text-center">
      <%= image_tag("bouquet1.jpg") %>
      <div class="card-body">
		<h3 class="center">ご購入ありがとうございました!!</h3>
		<%#= link_to customer_order_path do >
			<h1 class="thanks-bottom thanks"><i class="fas fa-gift">　<i class="fas fa-truck-moving"></i></i></h1>
			<h6>注文内容の確認 </h6>
		<% end %>

		<%#= link_to items_path do >
			<h1 class="thanks-bottom thanks"><i class="fas fa-gift">　<i class="fas fa-truck-moving"></i></i></h1>
			<h6>お買い物を続ける</h6>
		<% end %>
      </div>
     </div>
 </div>
</div>
