<div>
  <ul class=".list-group">
    <% genres.each do |genre| %>
    <li class=".list-group-item">
      <%= link_to '' do %>
        <%= genre.name %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>


